{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}

<div class="jumbotron m-5 rounded ">


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{car.make}}</h5>
        <p class="card-text">{{car.model}}</p>
        <p class="card-text"><small class="text-muted">Year: {{car.year}}</small></p>
      </div>
			{%if car.img %}
					<img class="card-img-bottom"  src="{{car.img.url}}"  class="img-fluid">
			{% endif %}

        <a href="{% url 'car-update' car.id %}" class="btn btn-outline-info btn-block my-2">Update</a>
        <a href="{% url 'car-delete' car.id %}" class="btn btn-outline-danger btn-block">Delete</a>

    </div>

</div>

{% endblock %}
